<Settings>
  <Version>4</Version>
  <CodeVersion>1</CodeVersion>
  <TableDelimeter>:</TableDelimeter>
  <CompiledBotWidth>950</CompiledBotWidth>
  <CompiledBotHeight>650</CompiledBotHeight>
  <CompiledBotStartupMode>Normal</CompiledBotStartupMode>
  <CompiledBotCaptchaServicesIncluded>Included</CompiledBotCaptchaServicesIncluded>
  <CompiledBotOutputFile></CompiledBotOutputFile>
  <CompiledBotUIColor></CompiledBotUIColor>
  <CompiledBotUIColorEnabled>false</CompiledBotUIColorEnabled>
  <CompiledBotBackgroundTabColor></CompiledBotBackgroundTabColor>
  <CompiledBotBackgroundTabColorEnabled>false</CompiledBotBackgroundTabColorEnabled>
  <CompiledBotMenuColor></CompiledBotMenuColor>
  <CompiledBotMenuColorEnabled>false</CompiledBotMenuColorEnabled>
  <CompiledBotActiveTabColor></CompiledBotActiveTabColor>
  <CompiledBotActiveTabColorEnabled>false</CompiledBotActiveTabColorEnabled>
  <CompiledBotInactiveTabColor></CompiledBotInactiveTabColor>
  <CompiledBotInactiveTabColorEnabled>false</CompiledBotInactiveTabColorEnabled>
  <CompiledBotMouseoverTabColor></CompiledBotMouseoverTabColor>
  <CompiledBotMouseoverTabColorEnabled>false</CompiledBotMouseoverTabColorEnabled>
  <CompiledBotRemoveBranding>false</CompiledBotRemoveBranding>
  <CompiledBotHideRunBar>false</CompiledBotHideRunBar>
  <CompiledBotHideNavigationBar>false</CompiledBotHideNavigationBar>
  <CompiledBotSplashPage></CompiledBotSplashPage>
  <CompiledBotOutputFile></CompiledBotOutputFile>
  <CompiledBotIcon></CompiledBotIcon>
  <CompiledBotIncludedInterfaces>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
  </CompiledBotIncludedInterfaces>
  <Scripts>
    <Script name="Socket Follow Script" type="Normal" isHidden="false" />
    <Script name="Socket Unfollow Script" type="Normal" isHidden="false" />
    <Script name="Socket AutoFollowBack" type="Normal" isHidden="false" />
    <Script name="Socket UnfollowNotFollowing" type="Normal" isHidden="false" />
    <Script name="Socket AutoTweet Script" type="Normal" isHidden="false" />
    <Script name="Socket AutoRetweet Script" type="Normal" isHidden="false" />
    <Script name="Sockets AutoFavorite Script" type="Normal" isHidden="false" />
    <Script name="Socket Auto@Reply Script" type="Normal" isHidden="false" />
    <Script name="Sockets Scrape Script" type="Normal" isHidden="false" />
    <Script name="Sockest Follow Following" type="Normal" isHidden="false" />
    <Script name="Threding Delay Scripts" type="Normal" isHidden="false" />
  </Scripts>
</Settings>